/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
body {
  color: #ededed;
  background: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: #ededed;
  font-size: 20px;
  text-decoration: none;
}
.linkDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
button{
  background-color: #ededed;
  color: #0a0a0a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}